/* Overall page styles */
.container {
    width: 90%;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif; /* Example font-family */
  }
  
  /* Search Form styles */
  .search-form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-form form {
    display: flex;
    flex-direction: column;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .search-input {
    flex: 1;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #1976D2;
    color: white;
    margin-left: 1rem;
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #1565c0;
  }
  
  .file-upload {
    margin-bottom: 30px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    color: #333;
  }
  
  
  
  /* Search Options styles */
  .search-options {
    margin-bottom: 30px;
  }
  
  /* Search Results styles */
  .search-results-header {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  .list-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .list-item:hover {
    background-color: #f0f0f0;
  }
  

  .compute-btn {
    height: 48px;
    width: 280px;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 650;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(0, 255, 242) 0%, rgb(0, 174, 255) 100%);
    color: #24262b;
    font-weight: bolder;
  }
  .compute-btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    color: #f9f9f9;
    background: linear-gradient(
      90deg,
      rgb(17, 0, 255) 0%,
      rgb(0, 132, 255) 100%
    );
    transition: all 0.4s ease-out;
  }